# Web Scraping Assignment-1************

# 1.  Write a python program to display all the header tags from wikipedia.org.

In [1]:
# Importing Necessary libraries:

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# To get required information:


page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(page.content)

Header_Tags = []
for i in soup.find_all(class_="mw-headline"):
  Header_Tags.append(i.text)

Header_Tags

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# 2. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from :

https://presidentofindia.nic.in/former-presidents.htm

In [7]:
# To get required information:

page3 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup3 = BeautifulSoup(page3.content)

President_name=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('h3')
    President_name.append(cells[0].text.strip())


Term=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term.append(cells[0].text.strip().replace('Term of Office:',''))

print('-'*50)
print('Former Presidents of India')
print('-'*50)

df_3 = pd.DataFrame({'Name of President':President_name,'Term of Office':Term})
df_3

--------------------------------------------------
Former Presidents of India
--------------------------------------------------

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# 3. Write a python program to scrape cricket rankings from icc-cricket.com.


a)Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [8]:
# To get reuired infrormation:

page4= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup4= BeautifulSoup(page4.content)

Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup4.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
        
print('-'*50)
print('Top 10 ODI Teams')
print('-'*50)

df_4= pd.DataFrame({'Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_4

--------------------------------------------------
Top 10 ODI Teams
--------------------------------------------------

  Ranking               Team Matches Points Rating
0       1    Australia , AUS      23  2,714    118
1       2     Pakistan , PAK      20  2,316    116
2       3        India , IND      33  3,807    115
3       4   New Zealand , NZ      27  2,806    104
4       5      England , ENG      24  2,426    101
5       6  South Africa , SA      19  1,910    101
6       7   Bangladesh , BAN      25  2,451     98
7       8  Afghanistan , AFG      10    878     88
8       9     Sri Lanka , SL      21  1,682     80
9      10   West Indies , WI      25  1,797     72

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [9]:
page4_2= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup4_2= BeautifulSoup(page4_2.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_2.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print(" Top 10 ODI Batsmen")
print('-'*50)

df_4_2= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_4_2

--------------------------------------------------
 Top 10 ODI Batsmen
--------------------------------------------------

                  Player Team Rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    738
5           David Warner  AUS    726
6           Harry Tector  IRE    722
7            Virat Kohli  IND    719
8        Quinton de Kock   SA    718
9           Rohit Sharma  IND    707

c) Top 10 ODI bowlers along with the records of their team and rating.

In [10]:
#To get required information:

page4_3= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup4_3= BeautifulSoup(page4_3.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_3.find_all ('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())

print('-'*50)
print("  Top 10 ODI Bowlers")
print('-'*50)

df_4_3=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})
df_4_3

--------------------------------------------------
  Top 10 ODI Bowlers
--------------------------------------------------

             Player Team Rating
0    Josh Hazlewood  AUS    705
1    Mohammed Siraj  IND    691
2    Mitchell Starc  AUS    686
3        Matt Henry   NZ    667
4       Trent Boult   NZ    660
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    652
7  Mujeeb Ur Rahman  AFG    637
8     Mohammad Nabi  AFG    631
9    Shaheen Afridi  PAK    630

# 4. Write a python program to scrape cricket rankings from icc-cricket.com.

a) Top 10 ODI teams in womenâ€™s cricket along with the records for matches, points and rating.

In [11]:
page5_1 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup5_1 = BeautifulSoup(page5_1.content)

Matches = []
Points = []
Rating = []
Team = []
Ranking = []

for i in soup5_1.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())

print('-'*50)
print(" Top 10 ODI Teams in Women")
print('-'*50)

df_5_1 = pd.DataFrame({' Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_5_1

--------------------------------------------------
 Top 10 ODI Teams in Women
--------------------------------------------------

   Ranking               Team Matches Points Rating
0        1    Australia , AUS      21  3,603    172
1        2      England , ENG      28  3,342    119
2        3  South Africa , SA      26  3,098    119
3        4        India , IND      27  2,820    104
4        5   New Zealand , NZ      25  2,553    102
5        6   West Indies , WI      27  2,535     94
6        7     Thailand , THA      11    821     75
7        8   Bangladesh , BAN      14    977     70
8        9     Pakistan , PAK      27  1,678     62
9       10     Sri Lanka , SL       9    479     53

b) Top 10 womenâ€™s ODI Batting players along with the records of their team and rating.

In [12]:
page5_2= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup5_2= BeautifulSoup(page5_2.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_2.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("  Top 10 ODI Batting Players in Women's")
print('-'*50)

df_5_2= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_5_2

--------------------------------------------------
  Top 10 ODI Batting Players in Women's
--------------------------------------------------

                Player Team Rating
0          Beth Mooney  AUS    754
1      Laura Wolvaardt   SA    732
2       Natalie Sciver  ENG    731
3          Meg Lanning  AUS    717
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6  Chamari Athapaththu   SL    673
7         Ellyse Perry  AUS    626
8       Tammy Beaumont  ENG    595
9      Stafanie Taylor   WI    588

c) Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating.

In [13]:
page5_3= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup5_3= BeautifulSoup(page5_3.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_3.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
        
print('-'*50)
print("Top 10 womenâ€™s ODI all-rounder")
print('-'*50)


df_5_3= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_5_3

--------------------------------------------------
Top 10 womenâ€™s ODI all-rounder
--------------------------------------------------

              Player Team Rating
0    Hayley Matthews   WI    373
1     Natalie Sciver  ENG    371
2       Ellyse Perry  AUS    366
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    292
7      Jess Jonassen  AUS    250
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    205

# 5.  Write a python program to scrape mentioned news details from:

https://www.cnbc.com/world/?region=world

**To find:**

           i) Headline 
           ii) Time 
           iii) News Link

In [14]:
page6= requests.get('https://www.cnbc.com/world/?region=world')
soup6= BeautifulSoup(page6.content)

Headline = []
for i in soup6.find_all('a', class_="LatestNews-headline"):
    Headline.append(i.get('title'))


Time = []
for i in soup6.find_all('span', class_="LatestNews-wrapper"):
    Time.append(i.text)

NewsLink = []
for i in soup6.find_all('a',class_="LatestNews-headline"):
    NewsLink.append(i.get('href'))
    
print('-'*50)
print("News Fetched")
print('-'*50)


df_6= pd.DataFrame({'Headline':Headline,'Time':Time,'News link':NewsLink})  
df_6

--------------------------------------------------
News Fetched
--------------------------------------------------

,Headline,Time,News link
0,Turkey votes in runoff election after candidat...,4 Hours Ago,https://www.cnbc.com/2023/05/28/turkey-electio...
1,White House and Republicans reach a tentative ...,7 Hours Ago,https://www.cnbc.com/2023/05/27/white-house-an...
2,State Farm to stop accepting homeowners insura...,13 Hours Ago,https://www.cnbc.com/2023/05/27/state-farm-to-...
3,How Janie Deegan built Janie's Life-Changing B...,18 Hours Ago,https://www.cnbc.com/2023/05/27/how-janie-deeg...
4,Top 10 cheapest places in the U.S. to buy a be...,18 Hours Ago,https://www.cnbc.com/2023/05/27/cheapest-place...
5,Mark Cuban calls Elon Muskâ€™s Twitter algorithm...,18 Hours Ago,https://www.cnbc.com/2023/05/27/mark-cuban-say...
6,3 investing tips as the federal debt ceiling '...,19 Hours Ago,https://www.cnbc.com/2023/05/27/how-to-invest-...
7,Microsoft keyboard users are â€˜devastatedâ€™ afte...,19 Hours Ago,https://www.cnbc.com/2023/05/27/microsoft-keyb...
8,Steve Adcock: The 3 'stupidest' myths I've hea...,19 Hours Ago,https://www.cnbc.com/2023/05/27/steve-adcock-t...
9,Chip stocks AMD and Nvidia are among the most ...,20 Hours Ago,https://www.cnbc.com/2023/05/27/chip-stocks-am...
10,Analysts are pounding the table for these must...,20 Hours Ago,https://www.cnbc.com/2023/05/27/analysts-are-p...
11,Lower-income consumers pay for wealthy's credi...,20 Hours Ago,https://www.cnbc.com/2023/05/27/lower-income-a...
12,How Mastercard has outperformed Visa,20 Hours Ago,https://www.cnbc.com/2023/05/27/how-mastercard...
13,Why commercial real estate firms are joining t...,20 Hours Ago,https://www.cnbc.com/2023/05/27/commercial-rea...
14,Japan stocks are on fire this year. Why the ra...,20 Hours Ago,https://www.cnbc.com/2023/05/27/japan-stocks-a...
15,Marvell Technology shares surge after earnings...,"May 26, 2023",https://www.cnbc.com/2023/05/26/marvell-techno...
16,"The tech trade is back, driven by A.I. craze a...","May 26, 2023",https://www.cnbc.com/2023/05/26/tech-stocks-ar...
17,Next week hints at only short-lived debt deal ...,"May 26, 2023",https://www.cnbc.com/2023/05/26/next-week-hint...
18,Treasury says it could run out of money June 5...,"May 26, 2023",https://www.cnbc.com/2023/05/26/treasury-says-...
19,Disney rips DeSantis bid to disqualify judge i...,"May 26, 2023",https://www.cnbc.com/2023/05/26/disney-rips-de...
20,Why the pause on student loan payments has bee...,"May 26, 2023",https://www.cnbc.com/2023/05/26/the-pause-on-s...
21,Facebook-Giphy sale shows how fear of regulato...,"May 26, 2023",https://www.cnbc.com/2023/05/26/facebook-giphy...
22,"JPMorgan Chase cut about 500 jobs this week, i...","May 26, 2023",https://www.cnbc.com/2023/05/26/job-cuts-jpmor...
23,Is there a 'right' age for kids to be on socia...,"May 26, 2023",https://www.cnbc.com/2023/05/26/the-right-age-...
24,A.I. excitement leads to a winning week for Nv...,"May 26, 2023",https://www.cnbc.com/2023/05/26/ai-excitement-...
25,Nvidia shares jumped 25% this week â€” and got c...,"May 26, 2023",https://www.cnbc.com/2023/05/26/nvidia-shares-...
26,Needham says this stock plays the 'almost perf...,"May 26, 2023",https://www.cnbc.com/2023/05/26/needham-this-s...
27,AI is the latest buzzword in techâ€”but before i...,"May 26, 2023",https://www.cnbc.com/2023/05/26/chatgpt-machin...
28,Taylor Swift to Metallica: Top 10 most in-dema...,"May 26, 2023",https://www.cnbc.com/2023/05/26/taylor-swift-b...
29,Investors shifted into these gold and small-ca...,"May 26, 2023",https://www.cnbc.com/2023/05/26/investors-shif...

# 6. Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

**To find:**

         i) Paper Title 
        ii) Authors 
        iii)Published Date
        iv) Paper URL

In [15]:
page_7= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup_7= BeautifulSoup(page_7.content)

Paper_Title=[]
for i in soup_7.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Paper_Title.append(i.text)

Authors=[]
for i in soup_7.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    Authors.append(i.text)  

Published_Date=[]
for i in soup_7.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)  

Paper_URL=[]
for i in soup_7.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    Paper_URL.append(i.get('href'))

print('-'*50)
print(' Details of Most Downloaded Articles')
print('-'*50)

df_7=pd.DataFrame({'Paper Title': Paper_Title,'Authors': Authors,'Published Date': Published_Date, 'Paper URL':Paper_URL})
df_7

--------------------------------------------------
 Details of Most Downloaded Articles
--------------------------------------------------

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders LÃ¸land",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social humanâ€“robot in...,"SÃ©verin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"TomÃ¡Å¡ Kliegr, Å tÄ›pÃ¡n BahnÃ­k, Johannes FÃ¼rnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# 7. Write a python program to scrape mentioned details from :

dineout.co.in

**To find**

    i) Restaurant name
    ii) Cuisine
    iii) Location
    iv) Ratings
    v) Image URL

In [16]:
page_8= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup_8= BeautifulSoup(page_8.content)

restaurant_name= []
for i in soup_8.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)

Cuisine=[]
for i in soup_8.find_all('div', class_="detail-info"):
    Cuisine.append((i.text.split()[6])+(' ')+(i.text.split()[7]))


location=[]
for i in soup_8.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)

Ratings= []
for i in soup_8.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(i.text)

Image_URL= []
for i in soup_8.find_all('img', class_="no-img"):
    Image_URL.append(i['data-src'])


print('-'*50)
print(' Details')
print('-'*50)

df_8=pd.DataFrame({'Restaurant_Name':restaurant_name,'Cuisine':Cuisine,'Location':location,'Ratings':Ratings,'Image_URL':Image_URL})
df_8

--------------------------------------------------
 Details
--------------------------------------------------

,Restaurant_Name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"Chinese, North","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque,"Chinese, North","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian,","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian,","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian,","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

**Note : Question-10 is skipped(As informed) , because of error.**